.map_wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

/**
* 필수 : 리플릿 맵은 높이를 지정해야 함
*/
.leaflet-container {
  width: 80%;
  height: 100vh;
}

.title {
  font-size: 24px;
  font-weight: 700;
}
.desc {
  font-size: 16px;
}

.cluster-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 22px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  width: 20%;
  height: 100%;
  background-color: #fff;
  color: #000;
  border: 1px solid black;

  // 이건 디폴트로 결정됨
  // z-index: 400;
}
