body {
    width: 100%;
    height: 100vh;
}

.abox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    height: 30px;
}

.abox a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 5px;
    margin-right: 10px;
}